@model Kadastr.WebApp.Models.AttributeValueDTO

@{
	string guid = Guid.NewGuid().ToString();
	<div class="col-md-3 id-guid-control" style="width: 160px !important;" id="@guid">
		<input type="text" class="form-control pull-left textbox-AVcontrol" data-type="calendar" data-source="@guid" />
		<i class="glyphicon glyphicon-calendar pull-left"></i>

		<input type="hidden" class="col-md-12" value="@Model.Value" name="@(ViewBag.ControlName + ".Value")"/>
		<input type="hidden" class="col-md-12" value="@Model.Id" name="@(ViewBag.ControlName + ".Id")"/>
		<input type="hidden" class="col-md-12" value="@Model.IdAttribute" name="@(ViewBag.ControlName + ".IdAttribute")"/>
		<input type="hidden" class="col-md-12" value="@Model.Type" name="@(ViewBag.ControlName + ".Type")"/>
	</div>
}
